.btn--continue {
  cursor: pointer;
  border: none;
  width: 100%;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 0.25rem;
  padding: 0.5em 1.5em;
  transition: background 0.25s ease;
}

.btn--continue:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}
