.space {
  border-radius: 0.5rem;
  color: var(--clr-neutral-900);
  padding: 1em;
}

.host {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.host-label {
  background-color: hsla(240, 7%, 6%, 0.25);
  color: var(--clr-neutral-100);
  padding: 0.25em 0.5em;
  border-radius: 0.25rem;
}

.space__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liteners {
  display: flex;
  align-items: center;
}

.listener__avatar {
  width: 2rem;
  aspect-ratio: 1;
  border: 1.5px solid var(--clr-neutral-100);
  border-radius: 50%;
  object-fit: cover;
}

.listener__avatar:nth-child(2),
.listener__avatar:nth-child(3) {
  margin-left: -0.75rem;
}

.listeners__count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.625rem;
  background-color: var(--clr-neutral-100);
  border-radius: 50%;
  padding: 1em 0.5em;
  margin-left: -0.75rem;
}

.btn--join {
  cursor: pointer;
  border: none;
  display: block;
  text-decoration: none;
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  border-radius: 0.25rem;
  padding: 0.5em 1.5em;
  transition: background 0.25s ease;
}

.btn--join:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-500);
}
