.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5.5rem);
}

.hero__title {
  font-size: var(--fs-900);
  text-align: center;
  line-height: 1.1;
}

.hero__body {
  max-width: 50ch;
  margin-bottom: 1em;
  text-align: center;
}

.btn--register {
  cursor: pointer;
  display: block;
  text-decoration: none;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 0.25rem;
  padding: 0.5em 1.5em;
  transition: background 0.25s ease;
}

.btn--register:is(:hover, :focus-visible) {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}
